*{
    margin:0px;
    padding: 0px;
}
/* codding for background */
.background{
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url('/images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
/* coding for navigation */
.logo{
    display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
position: relative;
}
img{
width: 200px;
margin: 20px 30px;
position: relative;
}
.navbar ul {
    display: flex;
}
.navbar ul li{
    list-style: none;
    padding: 0px 20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a::after{
    content: '';
    width: 0px;
    height: 2px;
    background-color: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width: 100%;
}
/* coding for text */
.text{
    height: 415px;
    text-align: center;
    padding-top: 150px;
    color: white;
}
.text h1{
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    display: block;
}
.text  p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 12px;
    display: block;
}
 .btn{
color: white;
text-decoration: none;
border: 2px solid white;
background: transparent;
padding: 12px 20px;
margin: 15px;
display:inline-block;
position: relative;
font-family: 'Ubuntu', sans-serif;
}
.btn:hover{
    background: rgb(187, 27, 27);
    border: 2px solid rgba(187,27,27);
    transition: 0.5s;
}
.bar{
    position: absolute;
    right: 30px;
  top: 30px;
}
#same{
    display: none;
}
/* coding for 2 section */
.course{
}
.cc-c{
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.cc-c p{
    font-size: 20px;
}
.c-c
{
margin-top: 40px;
    display: flex;
justify-content: center;
justify-content: space-between;
align-items: center;
text-align: center;
margin-left: 100px;
margin-right: 100px;
margin-bottom: 50px;
padding-top: 40px;
padding-bottom: 40px;
}
#a{
    padding-top: 30px;
margin-right: 30px;
background-color: rgb(243, 225, 225);
padding-bottom: 30px;
}
#b{
    padding-top: 30px;
    margin-right: 30px;
    background-color: rgb(243, 225, 225);
    padding-bottom: 30px;
}
#c{
    padding-top: 30px;
    background-color: rgb(243, 225, 225);
    padding-bottom: 30px;
}
#a:hover{
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}
#b:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}
#c:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}
.pp{
    padding-top: 20px;
}
.ppp{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
/* coding for third section */
.campus{
}
.h-p{
    text-align: center;
    padding-top: 20px;
    margin: 20px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.h-p p{
    font-size: 20px;
}
.images{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    height: 100%;

}
.london{
width: 400px;
border-radius: 20px;
}
.new{
    width: 400px;
    border-radius: 20px;
}
.was{
    width: 400px;
    border-radius: 20px;
}
.l{
    position: absolute;
    top: 1900px;
    left: 210px; 
    color: white;
    z-index: 1;
    font-size: 30px;
    transition: 1s;
}
.n{
    position: absolute;
    top: 1900px;
    left: 680px; 
    color: white;
    z-index: 1;
    font-size: 30px;
}
.w{
    position: absolute;
    top: 1900px;
    right: 170px; 
    color: white;
    z-index: 1;
    font-size: 30px;
}
.london:hover{
    box-shadow: 0 0px 10px 10px rgba(228, 166, 166, 0.4);
}
.new:hover{
    box-shadow: 0 0px 10px 10px rgba(228, 166, 166, 0.4);
}
.was:hover{
    box-shadow: 0 0px 10px 10px rgba(228, 166, 166, 0.4);
}
/* coding for third section */
.facility{
        text-align: center;
        padding-top: 40px;
        margin: 20px;
        font-size: 25px;
        font-family: 'Ubuntu', sans-serif;
    }
    .facility p{
        font-size: 20px;
    }
.imgs{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
text-align: center;
}
.imgs img{
    width: 300px;
    margin-top: 60px;
    border-radius: 20px;
}
.hp{
}
/* coding for fourth section */
.students{
    text-align: center;
    padding-top: 60px;
    margin: 20px;
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
}
.students p{
    font-size: 20px;
}
.f{
    margin-top: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}
.f img{
    border-radius: 50%;
    width: 70px;
}
.f1{
    border-radius: 10px;
    background-color: rgb(243, 225, 225);
    padding-top: 0px;
    margin-right: 30px;
    padding-bottom: 10px;
    width: 30%;
}
.f1 h3{
position: relative;
top: 0px;
right: 130px;
font-size: 20px;
}
.f2 h3{
    position: relative;
    top: 0px;
    right: -10px;
    text-align: left;
    font-size: 20px;
    }
.f2{    
    border-radius: 10px;
    background-color: rgb(243, 225, 225);
    padding-top: 0px;
    margin-right: 30px;
    padding-bottom: 10px;
    width: 30%;
}
.f1 p{
    display: flex;
    text-align: left;
justify-content: left;
padding-left: 10px;
}
.f2 p{
    display: flex;
    text-align: left;
justify-content: left;
padding-left: 10px;
}
.fas{
    padding-top: 10px;
    text-align: right;
    color: rgba(255, 255, 0, 0.815);
}
.fab{
    color: red;
    padding-top: 10px;
    padding: 10px 10px;
}
.foot p .fas{
    color:black;
    padding: 2px 10px;
}
/* coading for footer */
.foot
{
    text-align: center;
    margin-top: 150px;
}

/* coding for media quiries */
@media screen and (max-width:800px){
    .text h1{
        font-family: 'Ubuntu', sans-serif;
        font-size: 25px;
        display: block;
    }
    .text  p{
        font-family: 'Ubuntu', sans-serif;
        font-size: 10px;
        padding: 12px;
        display: block;
    }
    .btn{
        color: white;
        text-decoration: none;
        border: 2px solid white;
        background: transparent;
        padding: 5px 17px;
        margin: 10px;
        display:inline-block;
        position: relative;
        font-family: 'Ubuntu', sans-serif;
        }
        .btn:hover{
            background: rgb(187, 27, 27);
            border: 2px solid rgba(187,27,27);
            transition: 0.5s;
        }
    img{
        width: 100px;
        margin: 15px 5px;
        position: relative;
        }
        .navbar ul {
            display: block;
            position: absolute;
            top:0px;
            right: 0px;
            background-color: rgb(187, 27, 27);
        height: 100vh;
        width:150px;
        z-index: 2;
        }
        .navbar ul li{
            position: relative;
            top: 10px;
            right: 0px;
            list-style: none;
            padding: 10px 15px;
            font-size: 15px;
            font-family: 'Ubuntu', sans-serif;
            text-align:left;
        }
        #same{
            display: block;
            color: white;
        }
}
        
    @media screen and (max-width:800px){
    .c-c{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }
    #a{
        width: 300px;
        padding-top: 10px;
        margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    background-color: rgb(243, 225, 225);
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;

    }
    #b{
        width: 300px;
        padding-top: 10px;
        margin-right: 0px;
        margin-bottom: 30px;
        background-color: rgb(243, 225, 225);
        padding-bottom: 10px;
        padding-right:5px;
        padding-left: 5px;
    }
    #c{
        width: 300px;
        padding-top: 10px;
        background-color: rgb(243, 225, 225);
        padding-bottom: 10px;
        margin-bottom: 400px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .cc-c{
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        
    }
    .cc-c p{
        font-family: 'Ubuntu', sans-serif;
        font-size:15px;
    }
    .h-p{
        padding-top: 0px;
        text-align: center;
        padding-top: 20px;
        margin: 20px;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
    }
    .h-p p{
        font-size: 15px;
    }
    .images{

        margin-top: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .london{

            width: 350px;
            border-radius: 20px;
            margin-left: 12px;
            height: 350px;
    }
    .new{
        width: 350px;
        border-radius: 20px;
        margin-left: 12px;
        height: 350px;
    
    }
    .was{
        width: 350px;
        border-radius: 20px;
        margin-left: 12px;
        height: 350px;
        margin-bottom:400px;
    }
    .course{

        height: 800px;
    }
    .campus{

        height: 1700px;
    }
    .l{
        position: absolute;
        top: 1800px;
        left: 160px; 
        font-size: 20px;
    }
    .n{
        position: absolute;
        top: 2220px;
        left: 140px; 
        font-size: 20px;
    }
    .w{
        position: absolute;
        top: 2650px;
        left: 130px; 
        font-size: 20px;

    }
    .background{

        height: 500px;
    }
    .navbar ul {
        display: block;
        position: absolute;
        top:0px;
        right: 0px;
        background-color: rgb(187, 27, 27);
    height: 500px;
    width:150px;
    z-index: 2;
    }
    /* coding for third section */
    .imgs{
        display: flex;
        flex-direction: column;
    }
    .facility{
        text-align: center;
        padding-top: 20px;
        margin: 20px;
        font-size: 18px;
        font-family: 'Ubuntu', sans-serif;
    }
    .facility p{
        font-size: 15px;
    }
    .f{
        display: flex;
        flex-direction: column; 
     justify-content: center;
     align-items: center;
    }
    .f1{
        width: 300px;
        margin-bottom: 30px;
    }
    .f1 h3{
        position: relative;
        top: 0px;
        right: 10px;
    }
    .f2{
        width: 300px;
        margin-bottom: 30px;
        margin-bottom: 10px;
    }
    .students{
            text-align: center;
            padding-top: 60px;
            margin: 20px;
            font-size: 20px;
            font-family: 'Ubuntu', sans-serif;
    }
    .students p{
        font-size: 15px;
    }
    .foot{
margin-bottom: 300px;
    }}